<div class="page">
  <header class="action-bar">
    <a href="#" class="app-icon action up">
      <i class="chevron"></i>
      <i class="icon-fries"></i>
    </a>
    <h1 class="title">View2</h1>
  </header>
	<div class="content">
		<ul class="list inset">
      <li class="list-divider">Multi Line List</li>
      <li class="list-item-multi-line">
				<h3>This is the partial for view 2.</h3>
				<p>
				  Showing of 'interpolate' filter:
				  {{ 'Current version is v%VERSION%.' | interpolate }}
				</p>
      </li>
      <li class="list-item-multi-line">
        <h3>Multi Line List Item</h3>
        <p>Suspendisse potenti. Mauris accumsan consequat urna ut ornare. Nunc velit magna, vulputate ac faucibus eu, laoreet eget eros. Quisque tortor dui, gravida in condimentum non, tempus et nibh. Integer congue felis et diam hendrerit imperdiet. Sed pellentesque, ipsum nec vehicula molestie.</p>
      </li>
      <li class="list-item-multi-line">
        <h3>Second Multi Line List Item</h3>
        <p>Nunc velit magna, vulputate ac faucibus eu, laoreet eget eros. Quisque tortor dui, gravida in condimentum non, tempus et nibh.</p>
      </li>
    </ul>
	</div>
</div>
