<div class="page">
  <header class="action-bar">
    <a href="#" class="app-icon action">
      <i class="icon-fries"></i>
    </a>
    <h1 class="title">View1</h1>
  </header>
	<div class="content">
		<ul class="list inset">
      <li class="list-divider">2 Line List</li>
      <li class="list-item-two-lines">
        <h3>First Item</h3>
        <p>This is the partial for view 1.</p>
      </li>
      <li class="list-item-two-lines">
        <h3>Second Item</h3>
        <p>Another list item's description.</p>
      </li>
      <li class="list-item-two-lines">
        <h3>Terceiro Item</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </li>
    </ul>
	</div>
</div>
